body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
}

.main {
  background-color: hsl(216, 50%, 16%);
  border-radius: 4%;
  text-align: left;
}

.cardImg {
  padding: 1.5rem;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  
}
#nftImg {
  border-radius: 3%;
  width: 380px;
  background-color: hsl(215, 51%, 70%);
 
  
}
.cardText > * {
  margin: 0.8rem;
}
.cardText {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.cardText p {
  font-size: 1.3rem;
  max-width: 350px;
  line-height: 1.5;
}
h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 1.6rem;
}

p {
  color: hsl(215, 51%, 70%);
}

.spans {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
#price {
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: baseline;
}

#days-left {
  color: hsl(215, 51%, 70%);
  margin-left: auto;
  display: flex;
  align-items: baseline;
}
svg {
  padding-right: 0.5rem;
}

hr {
  border-color: hsl(215, 51%, 70%);
}

#authorInfo {
  display: flex;
  align-items: center;
}

#authorInfo span {
  margin-left: 0.5rem;
  color: hsl(0, 0%, 100%);
}
#avatar {
  width: 30px;
  border: hsl(0, 0%, 100%) solid 1px;
  border-radius: 50%;
  margin-right: 1rem;
}
footer{
    margin-top: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1:hover, #authorInfo span:hover{
  color:hsl(178, 100%, 50%);
}

.overlay{
  position: absolute;
  width:380px;
  height: 380px;
  background-color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.overlay:hover{
  opacity: 0.4;
}

#icon{
  position: absolute;
  top:35%;
  z-index:-1;
}
.overlay:hover + #icon{
  z-index: 2;
}




@media (max-width:513px){
    body{
        transform: scale(0.7);
    }
}