$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$dark-blue-bg: hsl(217, 54%, 11%);
$dark-blue-card: hsl(216, 50%, 16%);
$dark-blue-line: rgb(62, 78, 101, 0.3);
$white: hsl(0, 0%, 100%);

@mixin big-phone-up {
  @content;
}


@mixin center-children {
    display: flex;
    justify-content: center;
    align-items: center;
  }