@use 'colors-and-mixins' as *;


body {
  background-color: $dark-blue-bg;
  font-family: "Outfit", sans-serif;
}

.main {
  background-color: $dark-blue-card;
  border-radius: 15px;
  text-align: left;
  width: 327px;
  height: 543px;

  @include big-phone-up {
    width: 350px;
    height: 596px;
  }
}

.cardImg {
  padding: 1.5rem;
  padding-bottom: 8px;
  display: flex;
  justify-content: center;
  position: relative;

  @include big-phone-up {
    padding-bottom: 0;
  }
}

#nftImg,
#overlay {
  width: 278px;

  @include big-phone-up {
    width: 302px;
  }
}
#nftImg {
  border-radius: 3%;
  background-color: $dark-blue-line;
}

#overlay {
  position: absolute;
  height: 278px;
  background-color: $cyan;
  opacity: 0;
  @include center-children;
  &:hover {
    opacity: 0.4;
  }
  &:hover + #eye-icon {
    z-index: 2;
  }

  @include big-phone-up {
    height: 302px;
  }
}

#eye-icon {
  position: absolute;
  top: 130px;
  z-index: -1;
  width: 48px;

  @include big-phone-up {
    top: 150px;
  }
}

.cardText {
  padding: 24px;
  display: flex;
  flex-direction: column;
  h1 {
    color: $white;
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 12px;
    &:hover {
      color: $cyan;
    }

    @include big-phone-up {
      padding-bottom: 16px;
      line-height: 28px;
    }
  }
  p {
    font-size: 18px;
    max-width: 350px;
    line-height: 26px;
    padding-bottom: 16px;
    color: $soft-blue;

    @include big-phone-up {
      padding-bottom: 24px;
    }
  }
}

.spans {
  display: flex;
  justify-content: space-between;

  @include big-phone-up {
    padding-bottom: 24px;
  }
  
  #price,
  #days-left {
    display: flex;
    font-size: 15px;
    line-height: 19px;

    @include big-phone-up {
      font-size: 16px;
      line-height: 20.16px;
    }
  }

  #price {
    color: $cyan;
    font-weight: 600;
  }

  #days-left {
    color: $soft-blue;
    margin-left: auto;
    font-weight: 400;
    align-items: center;
  }
}

svg {
  padding-right: 0.5rem;
}

hr {
  border: solid 1px $dark-blue-line;
  width: 278px;
  margin: 0;

  @include big-phone-up {
    width: 302px;
  }
}

#authorInfo {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 24px;
  font-size: 15px;
  line-height: 19px;

  @include big-phone-up {
    padding-top: 14px;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
  }

  span {
    margin-left: 0.5rem;
    color: $white;
    &:hover {
      color: $cyan;
    }
  }
}

#avatar {
  width: 33px;
  border: $white solid 1px;
  border-radius: 50%;
  margin-right: 1rem;
}
